---
import Layout from "../layouts/Layout.astro";
import CustomizeCard from "../components/CustomizeCard.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <div class="flex items-center justify-center min-h-screen p-4">
    <CustomizeCard />
  </div>

  <Footer />
</Layout>
