---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <div class="flex items-center justify-center min-h-screen p-4">
    <Card
      banner="https://placehold.co/800x200/535159/FFF"
      avatar="https://cdn.discordapp.com/avatars/576398944024789022/b8a10a7f8b27512d6e6521bf3943213c.webp?size=4096?ignore=true"
      name="Trin1506"
      username="tuna_shrimp"
      pronouns=""
      status="I'm yapping so hard!?!???!??!"
      about="My bio reduced to atoms"
      birthday="15 June 2025"
      song={{
        title: "Never Gonna Give You Up",
        artist: "Rick Astley",
        duration: "3:32",
        cover: "https://i.scdn.co/image/ab67616d0000b273baf89eb11ec7c657805d2da0",
        link: "https://www.youtube.com/watch?v=dQw4w9WgXcQ",
      }},
    />
  </div>

  <Footer />
</Layout>
