<div class="p-4 text-center text-gray-400 text-sm">
    <p>
        Made with ❤️ by <a href="https://github.com/Nideout" class="text-primary hover:underline">Nideout</a> | Open Source on <a href="https://github.com/Nideout/profilr" class="text-primary hover:underline">GitHub</a>
    </p>
</div>